<div class="dashboard-main-body">
  <app-breadcrumb [title]="'Configuración - Empresa'" [main-title]="'Empresa'"></app-breadcrumb>


    <div class="card h-100 p-0 radius-12 overflow-hidden">
        <div class="card-body p-40">
            <form action="#">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-20">
                            <label for="titulo" class="form-label fw-semibold text-primary-light text-sm mb-8">Titulo
                                </label>
                            <input type="text" class="form-control radius-8" id="titulo" placeholder="Titulo Sitio Web">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-20">
                            <label for="email" class="form-label fw-semibold text-primary-light text-sm mb-8">Correo Empresa
                                </label>
                            <input type="email" class="form-control radius-8" id="email"
                                placeholder="Correo de Contacto">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-20">
                            <label for="number" class="form-label fw-semibold text-primary-light text-sm mb-8">Número Contacto</label>
                            <input type="email" class="form-control radius-8" id="number"
                                placeholder="Número de Contacto">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-20">
                            <label for="Website" class="form-label fw-semibold text-primary-light text-sm mb-8">
                                Dirección Contacto</label>
                            <input type="url" class="form-control radius-8" id="Website" placeholder="Website URL">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-20">
                            <label for="zip" class="form-label fw-semibold text-primary-light text-sm mb-8"> Link Facebook
                                </label>
                            <input type="text" class="form-control radius-8" id="zip" placeholder="Link Facebook">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-20">
                            <label for="address" class="form-label fw-semibold text-primary-light text-sm mb-8">
                                Link Instagram </label>
                            <input type="text" class="form-control radius-8" id="address"
                                placeholder="Link Instagram">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-3 mt-24">
                        <!-- <button type="reset"

                            class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-40 py-11 radius-8">
                            Reset
                        </button> -->
                        <button type="submit"
                            class="btn btn-primary border border-primary-600 text-md px-24 py-12 radius-8">
                            Save Change
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>