<div class="dashboard-main-body">

  <app-breadcrumb [title]="title"></app-breadcrumb>

  <div class="card basic-data-table radius-12 overflow-hidden">
    <div class="card-body p-0">


      <!-- Editor Toolbar Start -->

      <!-- Editor start -->
      <app-rich-text-editor>

        <p class="">This policy explains how 6amMart website and related applications (the “Site”, “we” or “us”)
          collects, uses, shares and protects the personal information that we collect through this site or different
          channels. 6amMart has established the site to link up the users </p>
        <p><br /></p>

        <h6>Using ChatGPT</h6>
        <p class="">This policy explains how 6amMart website and related applications (the “Site”, “we” or “us”)
          collects, uses, shares and protects the personal information that we collect through this site or different
          channels. 6amMart has established the site to link up the users who need foods or grocery items to be
          shipped or </p>
        <p><br /></p>

        <h6>Intellectual Property</h6>
        <p class="">This policy explains how 6amMart website and related applications (the “Site”, “we” or “us”)
          collects, uses, shares and protects the personal information that we collect through this site or different
          channels. 6amMart has established the site to link up the users who need foods or grocery items to be
          shipped or delivered by the riders from the affiliated restaurants or shops to the desired location. This
          policy also applies to any mobile applications that we develop for use </p>
        <p><br /></p>
        <h1></h1>

        <h6>Using ChatGPT</h6>
        <p class="">This policy explains how 6amMart website and related applications (the “Site”, “we” or “us”)
          collects, uses, shares and protects the personal information that we collect through this site or different
          channels. 6amMart has established the site to link up the users who need foods or grocery items to be
          shipped or delivered by the riders from the affiliated restaurants or shops to the desired location. This
          policy also applies to any mobile applications that we develop for use with </p>
        <p><br /></p>
        <p> our services on the Site, and references to this “Site”, “we” or “us” is intended . grocery items to be
          shipped or delivered by the riders from the affiliated restaurants or shops to the desired location. This
          policy also applies to any mobile applications that we develop for use</p>

        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
      </app-rich-text-editor>

      <!-- Edit End -->

    </div>

    <div class="card-footer p-24 bg-base border border-bottom-0 border-end-0 border-start-0">
      <div class="d-flex align-items-center justify-content-center gap-3">
        <button type="button"
          class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-50 py-11 radius-8">
          Cancel
        </button>
        <button type="button" class="btn btn-primary border border-primary-600 text-md px-28 py-12 radius-8">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>