<div class="dashboard-main-body">
  <app-breadcrumb [title]="title"></app-breadcrumb>

  <div class="card h-100 p-0 radius-12">
    <div
      class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
      <div class="d-flex align-items-center flex-wrap gap-3">
        <span class="text-md fw-medium text-secondary-light mb-0">Show</span>
        <select class="form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        <form class="navbar-search">
          <input type="text" class="bg-base h-40-px w-auto" name="search" placeholder="Search" />
          <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
        </form>
        <select class="form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px">
          <option>Status</option>
          <option>Active</option>
          <option>Inactive</option>
        </select>
      </div>
 
    </div>
    <div class="card-body p-24">
      <div class="table-responsive scroll-sm">
        <table class="table bordered-table sm-table mb-0">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input class="form-check-input radius-4 border input-form-dark" type="checkbox" id="selectAll" />
                  </div>
                  ID
                </div>
              </th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col" class="text-center">Número</th>
              <th scope="col" class="text-center">Número Documento</th>
              <th scope="col" class="text-center">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clients">
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input class="form-check-input radius-4 border border-neutral-400" type="checkbox" />
                  </div>
                  {{ cliente.clienteID}}
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <span class="text-md mb-0 fw-normal text-secondary-light">{{ cliente.nombreCompleto }}</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-md mb-0 fw-normal text-secondary-light">{{ cliente.email }}</span>
              </td>
              <td>
                <span class="text-md mb-0 fw-normal text-secondary-light">{{ cliente.telefono }}</span>
              </td>
              <td>
                <span class="text-md mb-0 fw-normal text-secondary-light">{{ cliente.numeroDocumento }}</span>
              </td>              
              <td class="text-center">
                <span [ngClass]="{
										'bg-success-focus text-success-600 border border-success-main': cliente.estado,
										'bg-danger-200 text-danger-600 border border-danger-main': !cliente.estado
									}" class="px-24 py-4 radius-4 fw-medium text-sm">
                  {{ cliente.estado ? "Activo" : "Inactivo" }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mt-24">
        <span>Showing 1 to 10 of 12 entries</span>
        <ul class="pagination d-flex flex-wrap align-items-center gap-2 justify-content-center">
          <li class="page-item">
            <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)">
              <iconify-icon icon="ep:d-arrow-left" class=""></iconify-icon>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md bg-primary-600 text-white"
              href="javascript:void(0)">
              1
            </a>
          </li>
          <li class="page-item">
            <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px"
              href="javascript:void(0)">2</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)">4</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)">5</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)">
              <iconify-icon icon="ep:d-arrow-right" class=""></iconify-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
