<div class="dashboard-main-body">
  <app-breadcrumb [title]="title"></app-breadcrumb>

  <div class="card h-100 p-0 radius-12">
    <div class="card-body p-24">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-8 col-lg-10">
          <div class="card border">
            <div class="card-body">
              <form (ngSubmit)="saveRol()">
                <!-- Nombre -->
                <div class="mb-20">
                  <label class="form-label fw-semibold text-primary-light text-sm mb-8">
                    Nombre <span class="text-danger-600">*</span>
                  </label>
                  <input type="text" class="form-control radius-8" [(ngModel)]="rol.nombre" name="nombre" />
                </div>

                <!-- Descripción -->
                <div class="mb-20">
                  <label class="form-label fw-semibold text-primary-light text-sm mb-8">Descripción</label>
                  <input type="text" class="form-control radius-8" [(ngModel)]="rol.descripcion" name="descripcion" />
                </div>

                <!-- Botones -->
                <div class="d-flex align-items-center justify-content-center gap-3">
                  <button type="button" class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8"
                          (click)="cancel()">Cancelar</button>
                  <button type="submit" class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">
                    Guardar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
