<div class="dashboard-main-body">
    <app-breadcrumb [title]="title"></app-breadcrumb>

    <div class="card h-100 p-0 radius-12">
        <div class="card-body p-24">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-8 col-lg-10">
                    <div class="card border">
                        <div class="card-body">
                            <form (ngSubmit)="saveCategory()">
                                <div class="mb-20">
                                    <label class="form-label fw-semibold text-primary-light text-sm mb-8">
                                        Nombre de la categoría
                                        <span class="text-danger-600">*</span>
                                    </label>
                                    <input type="text" class="form-control radius-8" placeholder="Ingrese el nombre"
                                        [(ngModel)]="category.nombre" name="nombre" />
                                </div>

                                <div class="mb-20">
                                    <label class="form-label fw-semibold text-primary-light text-sm mb-8">
                                        Descripción
                                        <span class="text-danger-600">*</span>
                                    </label>
                                    <textarea class="form-control radius-8" placeholder="Ingrese la descripción"
                                        [(ngModel)]="category.descripcion" name="descripcion"></textarea>
                                </div>

                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <button type="button"
                                        class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8"
                                        (click)="goToCategories()">Cancelar</button>
                                    <button type="submit"
                                        class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">Guardar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>