.image-preview {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 8px;
  }